src/xml/filtered/main/archetype-properties.xsd

<?xml version='1.0'?>
<!--
  ~ Copyright (C) 2005 - 2020 Schlichtherle IT Services.
  ~ All rights reserved. Use is subject to license terms.
  -->
<xs:schema
        elementFormDefault="qualified"
        targetNamespace="${project.url}/xml/archetype-properties"
        version="${project.version}"
        xml:lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:p="${project.url}/xml/archetype-properties"
        xmlns:h="http://www.w3.org/1999/xhtml"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
               schemaLocation="http://www.w3.org/2001/xml.xsd"/>
    <xs:element type="p:Properties" name="properties"/>
    <xs:simpleType name="ArtifactId">
        <xs:restriction base="xs:NCName"/>
    </xs:simpleType>
    <xs:simpleType name="CustomClasspathScope">
        <xs:restriction base="xs:token">
            <xs:enumeration value="compile"/>
            <xs:enumeration value="runtime"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GroupId">
        <xs:restriction base="xs:NCName"/>
    </xs:simpleType>
    <xs:simpleType name="JavaIdentifier">
        <xs:restriction base="xs:token">
            <!-- Not exactly, but good enough for this purpose. -->
            <xs:pattern value="[A-Za-z_$][A-Za-z0-9_$]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="JavaIdentifierList">
        <xs:list itemType="p:JavaIdentifier"/>
    </xs:simpleType>
    <xs:simpleType name="KeyPairAlgorithm"
                   h:href="https://docs.oracle.com/en/java/javase/14/docs/specs/security/standard-names.html#keypairgenerator-algorithms">
        <xs:restriction base="xs:token">
            <xs:enumeration value="DiffieHellman"/>
            <xs:enumeration value="DSA"/>
            <xs:enumeration value="EC"/>
            <xs:enumeration value="RSA"/>
            <xs:enumeration value="RSASSA-PSS"/>
            <xs:enumeration value="X25519"/>
            <xs:enumeration value="X448"/>
            <xs:enumeration value="XDH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="KeyStoreType"
                   h:href="https://docs.oracle.com/en/java/javase/14/docs/specs/security/standard-names.html#keystore-types">
        <xs:restriction base="xs:token">
            <xs:enumeration value="auto"/>
            <xs:enumeration value="DKS"/>
            <xs:enumeration value="JCEKS"/>
            <xs:enumeration value="JKS"/>
            <xs:enumeration value="PKCS11"/>
            <xs:enumeration value="PKCS12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LicenseFunctionComposition">
        <xs:restriction base="xs:token">
            <xs:enumeration value="decorate"/>
            <xs:enumeration value="override"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LicenseKeyFormat">
        <xs:restriction base="xs:token">
            <xs:enumeration value="V1"/>
            <xs:enumeration value="V2/JSON"/>
            <xs:enumeration value="V2/XML"/>
            <xs:enumeration value="V4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="List">
        <xs:all>
            <xs:element type="p:ArtifactId" name="artifactId">
            </xs:element>
            <xs:element type="xs:token" name="artifactName"
                        minOccurs="0" default="-">
            </xs:element>
            <xs:element type="xs:token" name="company">
            </xs:element>
            <xs:element type="p:CustomClasspathScope"
                        name="customClasspathScope"
                        minOccurs="0" default="compile">
            </xs:element>
            <xs:element type="xs:boolean" name="disableWizard"
                        minOccurs="0" default="false">
            </xs:element>
            <xs:element type="p:JavaIdentifierList" name="editions"
                        minOccurs="0" default="standard">
            </xs:element>
            <xs:element type="xs:nonNegativeInteger" name="freeTrialPeriod"
                        minOccurs="0" default="0">
            </xs:element>
            <xs:element type="xs:token" name="ftpKeyStoreFile"
                        minOccurs="0" default="-">
            </xs:element>
            <xs:element type="xs:token" name="ftpSecretMarkerClass"
                        minOccurs="0" default="-">
            </xs:element>
            <xs:element type="p:GroupId" name="groupId">
            </xs:element>
            <xs:element type="xs:boolean" name="hideUninstallAction"
                        minOccurs="0" default="false">
            </xs:element>
            <xs:element type="xs:token" name="keyGenAuthorization"
                        minOccurs="0" default="-">
            </xs:element>
            <xs:element type="xs:token" name="keyGenValidation"
                        minOccurs="0" default="-">
            </xs:element>
            <xs:element type="p:LicenseFunctionComposition"
                        name="keyGenValidationComposition"
                        minOccurs="0" default="decorate">
            </xs:element>
            <xs:element type="xs:token" name="keyMgrAuthorization"
                        minOccurs="0" default="-">
            </xs:element>
            <xs:element type="xs:token" name="keyMgrClock"
                        minOccurs="0" default="-">
            </xs:element>
            <xs:element type="xs:token" name="keyMgrValidation"
                        minOccurs="0" default="-">
            </xs:element>
            <xs:element type="p:LicenseFunctionComposition"
                        name="keyMgrValidationComposition"
                        minOccurs="0" default="decorate">
            </xs:element>
            <xs:element type="p:KeyPairAlgorithm" name="keyPairAlgorithm"
                        minOccurs="0" default="DSA">
            </xs:element>
            <xs:element type="xs:nonNegativeInteger" name="keyPairSize"
                        minOccurs="0" default="0">
            </xs:element>
            <xs:element type="p:KeyStoreType" name="keyStoreType"
                        minOccurs="0" default="auto">
            </xs:element>
            <xs:element type="p:LicenseKeyFormat" name="licenseKeyFormat"
                        minOccurs="0" default="V4">
            </xs:element>
            <!--
            Do NOT remove the `minOccurs` attribute and do NOT add a
            `default` attribute - see https://java.net/jira/browse/TRUELICENSE-152 .
            -->
            <xs:element type="xs:token" name="package" minOccurs="0">
            </xs:element>
            <xs:element type="p:Password" name="password">
            </xs:element>
            <xs:element type="p:PbeAlgorithm" name="pbeAlgorithm"
                        minOccurs="0" default="auto">
            </xs:element>
            <xs:element type="p:PreferencesType" name="preferencesType"
                        minOccurs="0" default="user">
            </xs:element>
            <xs:element type="xs:token" name="privateKeyStoreFile"
                        minOccurs="0" default="private.ks">
            </xs:element>
            <xs:element type="xs:token" name="publicKeyStoreFile"
                        minOccurs="0" default="public.ks">
            </xs:element>
            <xs:element type="p:SignatureAlgorithm" name="signatureAlgorithm"
                        minOccurs="0" default="auto">
            </xs:element>
            <xs:element type="xs:token" name="subject">
            </xs:element>
            <xs:element type="xs:token" name="trueLicenseVersion"
                        minOccurs="0" default="${truelicense.version}">
            </xs:element>
            <xs:element type="xs:boolean" name="verboseCli"
                        minOccurs="0" default="false">
            </xs:element>
            <xs:element type="p:Version" name="version">
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:simpleType name="Password">
        <xs:restriction base="xs:string">
            <xs:minLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PbeAlgorithm"
                   h:href="https://docs.oracle.com/en/java/javase/14/docs/specs/security/standard-names.html#cipher-algorithm-names">
        <xs:restriction base="xs:token">
            <xs:enumeration value="auto"/>
            <xs:enumeration value="PBEWithMD5AndDES"/>
            <xs:enumeration value="PBEWithMD5AndTripleDES"/>
            <xs:enumeration value="PBEWithSHA1AndDESede"/>
            <xs:enumeration value="PBEWithSHA1AndRC2_40"/>
            <xs:enumeration value="PBEWithSHA1AndRC2_128"/>
            <xs:enumeration value="PBEWithSHA1AndRC4_40"/>
            <xs:enumeration value="PBEWithSHA1AndRC4_128"/>
            <xs:enumeration value="PBEWithHmacSHA1AndAES_128"/>
            <xs:enumeration value="PBEWithHmacSHA224AndAES_128"/>
            <xs:enumeration value="PBEWithHmacSHA256AndAES_128"/>
            <xs:enumeration value="PBEWithHmacSHA384AndAES_128"/>
            <xs:enumeration value="PBEWithHmacSHA512AndAES_128"/>
            <xs:enumeration value="PBEWithHmacSHA1AndAES_256"/>
            <xs:enumeration value="PBEWithHmacSHA224AndAES_256"/>
            <xs:enumeration value="PBEWithHmacSHA256AndAES_256"/>
            <xs:enumeration value="PBEWithHmacSHA384AndAES_256"/>
            <xs:enumeration value="PBEWithHmacSHA512AndAES_256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PreferencesType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="system"/>
            <xs:enumeration value="user"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Properties">
        <xs:sequence>
            <xs:element type="p:List" name="list"/>
        </xs:sequence>
        <xs:attribute type="xs:token" name="name"/>
        <xs:attribute type="xs:token" name="version"/>
        <xs:attribute ref="xml:lang"/>
    </xs:complexType>
    <xs:simpleType name="SignatureAlgorithm"
                   h:href="https://docs.oracle.com/en/java/javase/14/docs/specs/security/standard-names.html#signature-algorithms">
        <xs:restriction base="xs:token">
            <xs:enumeration value="auto"/>

            <xs:enumeration value="NONEwithDSA"/>
            <xs:enumeration value="SHA1withDSA"/>
            <xs:enumeration value="SHA224withDSA"/>
            <xs:enumeration value="SHA256withDSA"/>
            <xs:enumeration value="SHA384withDSA"/>
            <xs:enumeration value="SHA512withDSA"/>
            <xs:enumeration value="SHA3-224withDSA"/>
            <xs:enumeration value="SHA3-256withDSA"/>
            <xs:enumeration value="SHA3-384withDSA"/>
            <xs:enumeration value="SHA3-512withDSA"/>

            <xs:enumeration value="NONEwithDSAinP1363Format"/>
            <xs:enumeration value="SHA1withDSAinP1363Format"/>
            <xs:enumeration value="SHA224withDSAinP1363Format"/>
            <xs:enumeration value="SHA256withDSAinP1363Format"/>

            <xs:enumeration value="NONEwithECDSA"/>
            <xs:enumeration value="SHA1withECDSA"/>
            <xs:enumeration value="SHA224withECDSA"/>
            <xs:enumeration value="SHA256withECDSA"/>
            <xs:enumeration value="SHA384withECDSA"/>
            <xs:enumeration value="SHA512withECDSA"/>
            <xs:enumeration value="SHA3-224withECDSA"/>
            <xs:enumeration value="SHA3-256withECDSA"/>
            <xs:enumeration value="SHA3-384withECDSA"/>
            <xs:enumeration value="SHA3-512withECDSA"/>

            <xs:enumeration value="NONEwithECDSAinP1363Format"/>
            <xs:enumeration value="SHA1withECDSAinP1363Format"/>
            <xs:enumeration value="SHA224withECDSAinP1363Format"/>
            <xs:enumeration value="SHA256withECDSAinP1363Format"/>
            <xs:enumeration value="SHA384withECDSAinP1363Format"/>
            <xs:enumeration value="SHA512withECDSAinP1363Format"/>

            <xs:enumeration value="NONEwithRSA"/>
            <xs:enumeration value="MD2withRSA"/>
            <xs:enumeration value="MD5withRSA"/>
            <xs:enumeration value="SHA1withRSA"/>
            <xs:enumeration value="SHA224withRSA"/>
            <xs:enumeration value="SHA256withRSA"/>
            <xs:enumeration value="SHA384withRSA"/>
            <xs:enumeration value="SHA512withRSA"/>
            <xs:enumeration value="SHA512/224withRSA"/>
            <xs:enumeration value="SHA512/256withRSA"/>
            <xs:enumeration value="SHA3-224withRSA"/>
            <xs:enumeration value="SHA3-256withRSA"/>
            <xs:enumeration value="SHA3-384withRSA"/>
            <xs:enumeration value="SHA3-512withRSA"/>

            <xs:enumeration value="RSASSA-PSS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Version">
        <xs:restriction base="xs:token"/>
    </xs:simpleType>
</xs:schema>
